@page {
	size: A4;
		margin: 0;
	}
	@media print {
		html, body {
		width: 210mm;
		height: 297mm;
	}
	/* ... the rest of the rules ... */
	canvas {
		width: 297mm;
		height: 297mm;
	}
	input {
		display: none;
	}
	.config {
		display: none;
	}
}

@media screen {
	body {
		color: #383838;
		padding: 5pt;
	}
	h1 {
		font-size: 20pt;
		margin-bottom: 15pt;
		font-family: 'Gugi', cursive;
	}
	h1 span {
		font-size: 5pt;	
		font-weight: normal;
		cursor: pointer;
	}
	canvas {
		position: absolute;
		left: 0pt;
		top: 0pt;
		width: 100%;
		height: 100%;	
		z-index: 1;
	}
	.config {
		font-family: 'Quicksand', sans-serif;
		width: 20%;
		position: absolute;
		top: 10pt;
		right: 1pt;		
		z-index: 10;
	}
	.input-group {
		margin: 5pt 0;
		width: 100%;
	}
	.input-group label {
		font-size: 8pt;
		padding-bottom: 2pt;
		display: block;
	}
	.input-group input, .input-group select {
		border: 0.8pt solid #ccc;
		color: #353535;
		width: 100%;
	}
}
